<head>
    <h1>Semana 9 Exercicios 1 e 2<h1>
<head>
    <div>
    <img align="left" alt="Geron-Mattoso" height="100" width="150" 
src="https://spark.apache.org/images/spark-logo-rev.svg">
    </div>

In [1]:
from pyspark.sql import SparkSession, SQLContext
import pyspark.sql.functions as fc
import pyspark.sql.types
from pyspark.sql.types import StructType, StructField, StringType

spark = SparkSession\
    .builder\
        .appName("Spark Exemplos")\
            .getOrCreate()

sc = SQLContext(spark.sparkContext)
sqlContext = SQLContext(sc)

22/11/21 16:18:04 WARN Utils: Your hostname, DESKTOP-QF8356S resolves to a loopback address: 127.0.1.1; using 192.168.50.201 instead (on interface eth0)
22/11/21 16:18:04 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/11/21 16:18:04 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

/home/geron/.local/share/virtualenvs/Compass-_AkEn2Ee/lib/python3.8/site-packages/pyspark/sql/context.py:112: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

##### 1 - Crie um array de 250, Int e aplique o método reverse para inverter o conteúdo.

In [3]:
arraySpark = spark.range(250)

arraySpark.select(fc.reverse(arraySpark.id).alias('id')).show(15)

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
|  8|
|  9|
| 01|
| 11|
| 21|
| 31|
| 41|
+---+
only showing top 15 rows

##### 2 - Crie uma lista de 20 animais, ordene-os e itere para imprimi-las individualmente cada um deles. Depois salve num arquivo texto em formato CS

In [5]:
dados = [["cavalo"], ["vaca"],["rato"], ["girafa"], ["anta"], ["quero-quero"],["tico-tico"],["lambari"], ["jundia"], ["pato"], \
             ["gato"], ["galo"], ["iguana"], ["pinguin"], ["boi"], ["macaco"], ["zebra"], ["babuino"], ["carcaju"], ["foca"]]


schema = [("animais")]

array = spark.createDataFrame(data = dados, schema = schema)

array.show(5)

array.select('animais').orderBy('animais').show(5)

array.write.csv('./output', mode="overwrite")

+-------+
|animais|
+-------+
| cavalo|
|   vaca|
|   rato|
| girafa|
|   anta|
+-------+
only showing top 5 rows

+-------+
|animais|
+-------+
|   anta|
|babuino|
|    boi|
|carcaju|
| cavalo|
+-------+
only showing top 5 rows